body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  background-color: aqua;
  color: #222;
  font-size: 20px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 8px;
}

h1 { 
    color: #053886;
}

#plot-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  box-shadow: 0 4px 12px (0,0,0,0.25);
  height: 500px;
  margin-top: 30px;
}